<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Public Indicative Votes</title>
{% include "metacrap.html" %}
{% include "style.html" %}
{% include "live_script.html" %}
</head>
<body>
{% include "nav.html" %}
<main>
{% for petition in petitions %}
<section id="{{petition.id}}">
<h2><span>{{petition.name}}</span> <span id="signatures_{{petition.id}}">{{petition.count}}</span></h2>
<h3>{{petition.summary}}</h3>
<p>{{petition.details}}

<nav><a href="https://petitionmap.unboxedconsulting.com/?petition={{petition.id}}&area=uk">Map</a> <a href="https://splasho.com/petitions/index.php?petition={{petition.id}}">Graph</a> <a class="button" href="https://petition.parliament.uk/petitions/{{petition.id}}">Add your name to the petition</a></nav>
</section>
{% endfor %}
</main>
{% include "footer.html" %}
</body>
</html>
