<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Public Indicative Votes</title>
{% include "metacrap.html" %}
{% include "style.html" %}

</head>
<body>
{% include "nav.html" %}
<main>
<aside>
<table>
{% for petition in petitions %}
<tr><td><a href="#{{petition.id}}">{{petition.name}}</a><td><svg width='100%' height='1em' viewBox='0 0 {{fullwidth}} 20'><rect fill='black' x='0' y='0' width='{{petition.width}}' height='20' /></svg><td class="signatures_{{petition.id}}">{{petition.count}}</tr>
{% endfor %}
</table>
</aside>
{% for petition in petitions %}
<section id="{{petition.id}}">
<h2><span>{{petition.name}}</span> <span class="signatures_{{petition.id}}">{{petition.count}}</span></h2>
<h3>{{petition.summary}}</h3>
<p>{{petition.details}}

<nav><a href="https://petitionmap.unboxedconsulting.com/?petition={{petition.id}}&area=uk">Map</a> <a href="https://splasho.com/petitions/index.php?petition={{petition.id}}">Graph</a> <a class="button" href="https://petition.parliament.uk/petitions/{{petition.id}}">Add your name to the petition</a></nav>
</section>
{% endfor %}
</main>
{% include "footer.html" %}
</body>
<script>
var petition_ids = [];
{% for petition in petitions %}
petition_ids.push({{petition.id}});
{% endfor %}
</script>
<script src="updatecounts.js" defer></script>
</html>
