<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Public Indicative Votes</title>
{% set headercopy="Parliament is in recess, but there are now going to be EU elections in May - Register to vote to have your say then. After registering, you can sign parliamentary petitions. Which would you support? You can choose more than one." %}
{% include "metacrap.html" %}
{% include "style.html" %}

</head>
<body class="h-feed">
{% include "nav.html" %}
<main>
<aside>
<table>
{% for petition in petitions %}
<tr><td><a href="#{{petition.id}}">{{petition.name}}</a><td><svg width='100%' height='1em' viewBox='0 0 {{fullwidth}} 20'><rect fill='black' x='0' y='0' width='{{petition.width}}' height='20' /></svg><td class="signatures_{{petition.id}}">{{petition.count}}</tr>
{% endfor %}
</table>
</aside>
{% for petition in petitions %}
<section class="h-entry" id="{{petition.id}}">
<h2 class="p-name"><span>{{petition.name}}</span> <span class="signatures_{{petition.id}}">{{petition.count}}</span></h2>
<h3 class="p-summary">{{petition.summary}}</h3>
<p class="p-content">{{petition.details}}

<nav><a href="https://petitionmap.unboxedconsulting.com/?petition={{petition.id}}&area=uk">Map</a> <a href="https://splasho.com/petitions/index.php?petition={{petition.id}}">Graph</a> <a class="button u-url" href="https://petition.parliament.uk/petitions/{{petition.id}}">{{"Add your name to" if petition.state=="open" else "View"}} the petition</a></nav>
{% if petition.debate %}
<footer>Debated on {{petition.debate.debated_on}} <a href="{{petition.debate.video_url}}" >Video</a> <a href="{{petition.debate.transcript_url}}" >Hansard</a></footer>
{% endif %}
</section>
{% endfor %}
</main>
{% include "footer.html" %}
</body>
<script>
var petition_ids = [];
{% for petition in petitions %}
petition_ids.push({{petition.id}});
{% endfor %}
</script>
<script src="updatecounts.js" defer></script>
</html>
