<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@techforuk">
<meta name="twitter:url" property="og:url" content="https://indicativevote.uk">
<meta name="twitter:title" property="og:title" content="Public Indicative Votes …have your say">
<meta name="twitter:description" property="og:description" content="Parliament is in recess, but there are now going to be EU elections in May - Register to vote to have your say then. After that, you could vote on parliamentary petitions. Which would you support? You can choose more than one.">