<style>
body {font-family: "Hoefler Text", Georgia, serif; background-color: white; line-height: 1.2em; 
    color:black;background: ghostwhite;
}
main {display:flex; flex-wrap:wrap; justify-content:space-around;}
section,header { max-width: 40em;  margin: 1em; }
p { max-width: 40em;  padding: .75rem; margin:0em;}
section { background: white;    border-radius: .5em;     border: 1px solid lightgrey;

}
h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.25em;}
section h2 {
    background:darkgreen; color:white;
    display: flex; justify-content: space-between;}
h1, h2, h3, h4, h5, h6, nav {
    font-family: "Gill Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: black;
    margin: 0px;
    padding: .75rem;
}
a {
    text-decoration: none;
    padding: .5em;
    border: 1px solid lightgrey;
    border-radius: .75em;
}
nav {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    }
a.button {
    text-decoration: none;
    color: white;
    background: blue;
    }
footer {display:flex;  justify-content: space-around;}
pre {font-size:10px;}
</style>